.text-center
  = image_tag @post.image.url(:medium)
= render 'form'
.text-center.edit-links
  = button_to 'Delete Post', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }
  |
  = link_to 'Cancel', posts_path
